table {
    margin: 0 auto;
}

button {
    display: block;
    margin: 0 auto;
}

input{
    text-align: center;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
  
    input{
        background-color: white;
        color: black;
    }
    
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    input{
        background-color: black;
        color: white;
    }
    
}

